.app_dark_theme {
  --bg-color: #1f1f1f;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #b6b6b6;
  --secondary-color: #ff9c4c;
  --inverted-primary-color: #d77a2e;
  --inverted-secondary-color: #0449e0;
  --pl-color: #0a0a44;
  --inverted-pl-color: #dce6fc;
  //card
  --card-bg: #27272f;
}
